 <a href="/tickets" id="ctanothome" class="ctaticket w-inline-block">
<picture>
		<source srcset="/images/Groupe225.webp" type="image/webp">
		<img src="/images/Groupe225.webp" width="200" alt="" class="ctaleaves lozad"> </picture>

		<source srcset="/images/Feuilles1.webp" type="image/webp">
		<img src="/images/Feuilles1.webp" width="200" alt="" class="ctaleafright lozad" style=""> </picture>
<div class="container split nomargin"> 
		
		<!--                <picture style="position: absolute; bottom: 0px; left:0">
                    <source data-srcset="/images/shapesblog-2small.webp" type="image/webp">
                    <img data-src="/images/shapesblog-2small.png" width="159" class="lozad"></picture>-->
		<div class="txtcta align">STILL DIDN&#x27;T GET YOUR TICKETS?</div>
		<div class="btn-hero" style="color:#EF9C79;background-color:white; text-align: center;">book them now !</div>
</div>
</a>